{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}
<form class="" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Username">
    </div>
    <br/>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <br/>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}
